/* ===== IMPORTS ===== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ===== RESET START ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/* ===== RESET END ===== */

/* CSS START */

body {
  background: rgb(227, 226, 226);
}

.cards {
  width: 80vw;
  margin: 20vh auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  position: relative;
}

.list-view {
  width: 80vw;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(240, 240, 240);
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(152, 151, 151);
  padding: 0 40px;
  position: relative;
  margin-bottom: 40px;
}

.list-view img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-right: 20px;
  border: 3px solid white;
  box-shadow: 0 0 5px rgb(152, 151, 151);
}

.user {
  display: flex;
}

.user span {
  display: grid;
  place-content: center;
}

.mail {
  color: rgb(161, 159, 159);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Grid view */
iframe {
  border-radius: 20px 20px 0 0;
  height: 100%;
}

.grid-view {
  width: 400px;
  height: 500px;
  margin-bottom: 150px;
}
.top {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgb(137, 82, 219), rgb(49, 0, 128));
  height: 150px;
  width: 400px;
  border-radius: 30px 30px 0 0;
  display: flex;
  justify-content: center;
}

.grid-img {
  border: 5px solid white;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom {
  display: grid;
  place-content: center;
  position: absolute;
  inset: 0;
  top: 150px;
  height: 250px;
  width: 400px;
  background: white;
  border-radius: 0 0 30px 30px;
  text-align: center;
  gap: 20px;
}

.bottom a,
.list-view a {
  background: black;
  padding: 5px 30px;
  color: white;
  border-radius: 9999px;
}

.bottom h3 {
  font-size: 1.8rem;
}

.bottom h4 {
  font-size: 1.4rem;
}

.views {
  position: absolute;
  inset: 0;
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.views i {
  display: block;
  font-size: 2rem;
  cursor: pointer;
}
